Ludic/Gui/SiteSandBoxDemo/SiteSandBoxDemo/Web References/localhost/LudicWebService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="CompilSln">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="slnPath" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="logPath" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CompilSlnResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CompilSlnResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Execute">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="cheminPermissions" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="cheminExecutable" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ExecuteResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ExecuteResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="CompilSlnSoapIn">
    <wsdl:part name="parameters" element="tns:CompilSln" />
  </wsdl:message>
  <wsdl:message name="CompilSlnSoapOut">
    <wsdl:part name="parameters" element="tns:CompilSlnResponse" />
  </wsdl:message>
  <wsdl:message name="ExecuteSoapIn">
    <wsdl:part name="parameters" element="tns:Execute" />
  </wsdl:message>
  <wsdl:message name="ExecuteSoapOut">
    <wsdl:part name="parameters" element="tns:ExecuteResponse" />
  </wsdl:message>
  <wsdl:portType name="LudicWebServiceSoap">
    <wsdl:operation name="CompilSln">
      <wsdl:input message="tns:CompilSlnSoapIn" />
      <wsdl:output message="tns:CompilSlnSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Execute">
      <wsdl:input message="tns:ExecuteSoapIn" />
      <wsdl:output message="tns:ExecuteSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="LudicWebServiceSoap" type="tns:LudicWebServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CompilSln">
      <soap:operation soapAction="http://tempuri.org/CompilSln" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Execute">
      <soap:operation soapAction="http://tempuri.org/Execute" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="LudicWebServiceSoap12" type="tns:LudicWebServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CompilSln">
      <soap12:operation soapAction="http://tempuri.org/CompilSln" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Execute">
      <soap12:operation soapAction="http://tempuri.org/Execute" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="LudicWebService">
    <wsdl:port name="LudicWebServiceSoap" binding="tns:LudicWebServiceSoap">
      <soap:address location="http://localhost:4242/LudicWebService.asmx" />
    </wsdl:port>
    <wsdl:port name="LudicWebServiceSoap12" binding="tns:LudicWebServiceSoap12">
      <soap12:address location="http://localhost:4242/LudicWebService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>